div section.filters {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  width: 100%;
  border: 1px #dddddd solid;
  border-radius: 4px;
  position: relative;
}

div section.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: 0;
  outline: 0;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: 30px;
  padding-left: 0%;
  padding-right: 0%;
  transform: translateY(-50%);
}

div section.filters button:hover {
  opacity: 90%;
}
